<app-titulo [titulo]="'Eventos'"></app-titulo>

<div class="d-flex">
  <div class="form-inline mr-auto">
    <div>
      Filtro: <input type="text" class="form-control mr2" placeholder="Buscar" [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <div class="btn btn-outline-primary" (click)="adicionarEvento(template)">
      <div class="i fa fa-plus-circle">&nbsp;
        Novo Evento
      </div>
    </div>
  </div>
</div>

<table class="table table-stripped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImagem()">
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tBody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem"
        src="http://localhost:5000/Resources/Images/{{evento.imagemUrl}}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem">
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>        
        <div *ngIf="!evento.lotes.length">
          Não informado.
        </div>        
        <div *ngIf="evento.lotes.length">
          {{ evento.lotes[0].nome | uppercase }}
        </div>
      </td>      
      <td>
        <div class="btn-group">
          <button class="btn-sm btn-success" tooltip="Editar" (click)="editarEvento(template, evento)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn-sm btn-danger" tooltip="Excluir" (click)="confirmarExclusaoEvento(deletarEventoTemplate, evento)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>       
    </tr> 
  </tBody> 
  <tfoot>
    <tr>
      <td colspan="7" class="text-center" *ngIf="!eventos.length">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left"> 
          <div *ngIf="registerForm && !registerForm.get('tema').value">Novo evento</div>
          <div *ngIf="registerForm && registerForm.get('tema').value">{{ registerForm.get('tema').value }}</div>
        </h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text" class="form-control"
              [ngClass]="{ 'is-invalid': ehCampoInvalido('tema') }"
              formControlName="tema" placeholder="Tema">
              <div *ngIf="ehCampoInvalido('tema') && registerForm.get('tema').hasError('required')" class="invalid-feedback">
                O tema é obrigatório.
              </div>
              <div *ngIf="ehCampoInvalido('tema') && registerForm.get('tema').hasError('minlength')" class="invalid-feedback">
                O tema deve ter no mínimo 4 caracteres.
              </div>
              <div *ngIf="ehCampoInvalido('tema') && registerForm.get('tema').hasError('maxlength')" class="invalid-feedback">
                O tema deve ter no máximo 50 caracteres.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-8" >
              <label>Local</label>
              <input type="text" class="form-control" 
              [ngClass]="{ 'is-invalid': ehCampoInvalido('local') }"
              formControlName="local" placeholder="Local">
              <div class="invalid-feedback">
                O local é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="text" class="form-control" id="dataEvento"
              bsDatepicker [bsConfig]="datePickerConfig"
              [ngClass]="{ 'is-invalid': ehCampoInvalido('dataEvento') }"
              formControlName="dataEvento" placeholder="Data/Hora"
              value="{{ dataEvento | DateTimeFormatPipe }}">
              <div class="invalid-feedback">
                A data/hora é obrigatória.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input type="text" class="form-control" 
              [ngClass]="{ 'is-invalid': ehCampoInvalido('qtdPessoas') }"
              formControlName="qtdPessoas" placeholder="Quantidade de pessoas">
              <div class="invalid-feedback">
                A quantidade de pessoas é obrigatória.
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <table>
                <tr>
                  <td>
                    <button class="btn btn-success" (click)="file.click()">
                      Enviar Imagem
                    </button>
                    <input type="file" #file class="form-control" formControlName="imagemUrl" placeholder="Imagem" (change)="onFileChange($event)">
                  </td>
                </tr>
              </table>              
              <div class="invalid-feedback">
                A imagem é obrigatória.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Telefone</label>
              <input type="text" class="form-control" 
              [ngClass]="{ 'is-invalid': ehCampoInvalido('telefone') }"
              formControlName="telefone" placeholder="Telefone">
              <div class="invalid-feedback">
                O telefone é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Email</label>
              <input type="text" class="form-control" 
              [ngClass]="{ 'is-invalid': ehCampoInvalido('email') }"
              formControlName="email" placeholder="Email">
              <div *ngIf="ehCampoInvalido('email') && registerForm.get('email').hasError('required')" class="invalid-feedback">
                O email é obrigatório.
              </div>
              <div *ngIf="ehCampoInvalido('email') && registerForm.get('email').hasError('email')" class="invalid-feedback">
                O email deve ser válido.
              </div>
            </div>
          </div> 
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary d-flex ml-auto" [disabled]="!registerForm.valid" (click)="salvarEvento(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #deletarEventoTemplate="bs-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Deseja excluir o evento?</p>
        <button type="button" class="btn btn-default" (click)="excluirEvento(deletarEventoTemplate, evento.id)" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="deletarEventoTemplate.hide()" >No</button>
      </div>
    </div>
  </div>
</div>