#.NET Core Project
bin
obj

#compiled output
/dist
/tmp
/out-tsc
/prod

#dependencies
node_modules

#profiling profiles
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vs
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.vscode
ProAgil-App/dist/ProAgil-App/fa-brands-400.eot
ProAgil-App/dist/ProAgil-App/fa-brands-400.svg
ProAgil-App/dist/ProAgil-App/fa-brands-400.ttf
ProAgil-App/dist/ProAgil-App/fa-brands-400.woff
ProAgil-App/dist/ProAgil-App/fa-brands-400.woff2
ProAgil-App/dist/ProAgil-App/fa-regular-400.eot
ProAgil-App/dist/ProAgil-App/fa-regular-400.svg
ProAgil-App/dist/ProAgil-App/fa-regular-400.ttf
ProAgil-App/dist/ProAgil-App/fa-regular-400.woff
ProAgil-App/dist/ProAgil-App/fa-regular-400.woff2
ProAgil-App/dist/ProAgil-App/fa-solid-900.eot
ProAgil-App/dist/ProAgil-App/fa-solid-900.svg
ProAgil-App/dist/ProAgil-App/fa-solid-900.ttf
ProAgil-App/dist/ProAgil-App/fa-solid-900.woff
ProAgil-App/dist/ProAgil-App/fa-solid-900.woff2
ProAgil-App/dist/ProAgil-App/main-es5.js
ProAgil-App/dist/ProAgil-App/main-es5.js.map
ProAgil-App/dist/ProAgil-App/main-es2015.js
ProAgil-App/dist/ProAgil-App/main-es2015.js.map
ProAgil-App/dist/ProAgil-App/polyfills-es5.js
ProAgil-App/dist/ProAgil-App/polyfills-es5.js.map
ProAgil-App/dist/ProAgil-App/polyfills-es2015.js
ProAgil-App/dist/ProAgil-App/polyfills-es2015.js.map
ProAgil-App/dist/ProAgil-App/runtime-es5.js
ProAgil-App/dist/ProAgil-App/runtime-es5.js.map
ProAgil-App/dist/ProAgil-App/runtime-es2015.js
ProAgil-App/dist/ProAgil-App/runtime-es2015.js.map
ProAgil-App/dist/ProAgil-App/styles-es5.js
ProAgil-App/dist/ProAgil-App/styles-es5.js.map
ProAgil-App/dist/ProAgil-App/styles-es2015.js
ProAgil-App/dist/ProAgil-App/styles-es2015.js.map
ProAgil-App/dist/ProAgil-App/vendor-es5.js
ProAgil-App/dist/ProAgil-App/vendor-es5.js.map
ProAgil-App/dist/ProAgil-App/vendor-es2015.js
ProAgil-App/dist/ProAgil-App/vendor-es2015.js.map
ProAgil-App/package-lock.json
ProAgil.Domain/out/Microsoft.AspNetCore.Authentication.Abstractions.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Authentication.Cookies.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Authentication.Core.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Authentication.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Cryptography.Internal.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
ProAgil.Domain/out/Microsoft.AspNetCore.DataProtection.Abstractions.dll
ProAgil.Domain/out/Microsoft.AspNetCore.DataProtection.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Hosting.Abstractions.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Http.Abstractions.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Http.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Http.Extensions.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Http.Features.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Identity.dll
ProAgil.Domain/out/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
ProAgil.Domain/out/Microsoft.AspNetCore.WebUtilities.dll
ProAgil.Domain/out/Microsoft.EntityFrameworkCore.Abstractions.dll
ProAgil.Domain/out/Microsoft.EntityFrameworkCore.dll
ProAgil.Domain/out/Microsoft.EntityFrameworkCore.Relational.dll
ProAgil.Domain/out/Microsoft.Extensions.Caching.Abstractions.dll
ProAgil.Domain/out/Microsoft.Extensions.Caching.Memory.dll
ProAgil.Domain/out/Microsoft.Extensions.Configuration.Abstractions.dll
ProAgil.Domain/out/Microsoft.Extensions.Configuration.Binder.dll
ProAgil.Domain/out/Microsoft.Extensions.Configuration.dll
ProAgil.Domain/out/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ProAgil.Domain/out/Microsoft.Extensions.DependencyInjection.dll
ProAgil.Domain/out/Microsoft.Extensions.FileProviders.Abstractions.dll
ProAgil.Domain/out/Microsoft.Extensions.Hosting.Abstractions.dll
ProAgil.Domain/out/Microsoft.Extensions.Identity.Core.dll
ProAgil.Domain/out/Microsoft.Extensions.Identity.Stores.dll
ProAgil.Domain/out/Microsoft.Extensions.Logging.Abstractions.dll
ProAgil.Domain/out/Microsoft.Extensions.Logging.dll
ProAgil.Domain/out/Microsoft.Extensions.ObjectPool.dll
ProAgil.Domain/out/Microsoft.Extensions.Options.dll
ProAgil.Domain/out/Microsoft.Extensions.Primitives.dll
ProAgil.Domain/out/Microsoft.Extensions.WebEncoders.dll
ProAgil.Domain/out/Microsoft.Net.Http.Headers.dll
ProAgil.Domain/out/Microsoft.Win32.Registry.dll
ProAgil.Domain/out/ProAgil.Domain.deps.json
ProAgil.Domain/out/ProAgil.Domain.dll
ProAgil.Domain/out/ProAgil.Domain.pdb
ProAgil.Domain/out/Remotion.Linq.dll
ProAgil.Domain/out/System.Buffers.dll
ProAgil.Domain/out/System.Collections.Immutable.dll
ProAgil.Domain/out/System.ComponentModel.Annotations.dll
ProAgil.Domain/out/System.Diagnostics.DiagnosticSource.dll
ProAgil.Domain/out/System.Interactive.Async.dll
ProAgil.Domain/out/System.Linq.dll
ProAgil.Domain/out/System.Linq.Expressions.dll
ProAgil.Domain/out/System.Linq.Queryable.dll
ProAgil.Domain/out/System.Memory.dll
ProAgil.Domain/out/System.Numerics.Vectors.dll
ProAgil.Domain/out/System.ObjectModel.dll
ProAgil.Domain/out/System.Reflection.Emit.dll
ProAgil.Domain/out/System.Reflection.Emit.ILGeneration.dll
ProAgil.Domain/out/System.Reflection.Emit.Lightweight.dll
ProAgil.Domain/out/System.Reflection.TypeExtensions.dll
ProAgil.Domain/out/System.Runtime.CompilerServices.Unsafe.dll
ProAgil.Domain/out/System.Security.AccessControl.dll
ProAgil.Domain/out/System.Security.Cryptography.Cng.dll
ProAgil.Domain/out/System.Security.Cryptography.Pkcs.dll
ProAgil.Domain/out/System.Security.Cryptography.Xml.dll
ProAgil.Domain/out/System.Security.Permissions.dll
ProAgil.Domain/out/System.Security.Principal.Windows.dll
ProAgil.Domain/out/System.Text.Encodings.Web.dll
ProAgil.Domain/out/System.Threading.dll
ProAgil.Domain/out/runtimes/unix/lib/netstandard2.0/Microsoft.Win32.Registry.dll
ProAgil.Domain/out/runtimes/win/lib/netstandard1.3/System.Security.AccessControl.dll
ProAgil.Domain/out/runtimes/win/lib/netstandard1.3/System.Security.Principal.Windows.dll
ProAgil.Domain/out/runtimes/win/lib/netstandard1.6/System.Security.Cryptography.Cng.dll
ProAgil.Domain/out/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
ProAgil.Domain/out/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.Pkcs.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Authentication.Abstractions.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Authentication.Cookies.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Authentication.Core.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Authentication.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Cryptography.Internal.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
ProAgil.Repository/out/Microsoft.AspNetCore.DataProtection.Abstractions.dll
ProAgil.Repository/out/Microsoft.AspNetCore.DataProtection.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Hosting.Abstractions.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Http.Abstractions.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Http.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Http.Extensions.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Http.Features.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Identity.dll
ProAgil.Repository/out/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
ProAgil.Repository/out/Microsoft.AspNetCore.WebUtilities.dll
ProAgil.Repository/out/Microsoft.EntityFrameworkCore.Abstractions.dll
ProAgil.Repository/out/Microsoft.EntityFrameworkCore.dll
ProAgil.Repository/out/Microsoft.EntityFrameworkCore.Relational.dll
ProAgil.Repository/out/Microsoft.EntityFrameworkCore.SqlServer.dll
ProAgil.Repository/out/Microsoft.Extensions.Caching.Abstractions.dll
ProAgil.Repository/out/Microsoft.Extensions.Caching.Memory.dll
ProAgil.Repository/out/Microsoft.Extensions.Configuration.Abstractions.dll
ProAgil.Repository/out/Microsoft.Extensions.Configuration.Binder.dll
ProAgil.Repository/out/Microsoft.Extensions.Configuration.dll
ProAgil.Repository/out/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ProAgil.Repository/out/Microsoft.Extensions.DependencyInjection.dll
ProAgil.Repository/out/Microsoft.Extensions.FileProviders.Abstractions.dll
ProAgil.Repository/out/Microsoft.Extensions.Hosting.Abstractions.dll
ProAgil.Repository/out/Microsoft.Extensions.Identity.Core.dll
ProAgil.Repository/out/Microsoft.Extensions.Identity.Stores.dll
ProAgil.Repository/out/Microsoft.Extensions.Logging.Abstractions.dll
ProAgil.Repository/out/Microsoft.Extensions.Logging.dll
ProAgil.Repository/out/Microsoft.Extensions.ObjectPool.dll
ProAgil.Repository/out/Microsoft.Extensions.Options.dll
ProAgil.Repository/out/Microsoft.Extensions.Primitives.dll
ProAgil.Repository/out/Microsoft.Extensions.WebEncoders.dll
ProAgil.Repository/out/Microsoft.Net.Http.Headers.dll
ProAgil.Repository/out/Microsoft.Win32.Registry.dll
ProAgil.Repository/out/ProAgil.Domain.dll
ProAgil.Repository/out/ProAgil.Domain.pdb
ProAgil.Repository/out/ProAgil.Repository.deps.json
ProAgil.Repository/out/ProAgil.Repository.dll
ProAgil.Repository/out/ProAgil.Repository.pdb
ProAgil.Repository/out/Remotion.Linq.dll
ProAgil.Repository/out/System.Buffers.dll
ProAgil.Repository/out/System.Collections.Immutable.dll
ProAgil.Repository/out/System.ComponentModel.Annotations.dll
ProAgil.Repository/out/System.Data.SqlClient.dll
ProAgil.Repository/out/System.Diagnostics.DiagnosticSource.dll
ProAgil.Repository/out/System.Interactive.Async.dll
ProAgil.Repository/out/System.Linq.dll
ProAgil.Repository/out/System.Linq.Expressions.dll
ProAgil.Repository/out/System.Linq.Queryable.dll
ProAgil.Repository/out/System.Memory.dll
ProAgil.Repository/out/System.Numerics.Vectors.dll
ProAgil.Repository/out/System.ObjectModel.dll
ProAgil.Repository/out/System.Reflection.Emit.dll
ProAgil.Repository/out/System.Reflection.Emit.ILGeneration.dll
ProAgil.Repository/out/System.Reflection.Emit.Lightweight.dll
ProAgil.Repository/out/System.Reflection.TypeExtensions.dll
ProAgil.Repository/out/System.Runtime.CompilerServices.Unsafe.dll
ProAgil.Repository/out/System.Security.AccessControl.dll
ProAgil.Repository/out/System.Security.Cryptography.Cng.dll
ProAgil.Repository/out/System.Security.Cryptography.Pkcs.dll
ProAgil.Repository/out/System.Security.Cryptography.Xml.dll
ProAgil.Repository/out/System.Security.Permissions.dll
ProAgil.Repository/out/System.Security.Principal.Windows.dll
ProAgil.Repository/out/System.Text.Encoding.CodePages.dll
ProAgil.Repository/out/System.Text.Encodings.Web.dll
ProAgil.Repository/out/System.Threading.dll
ProAgil.Repository/out/runtimes/unix/lib/netstandard2.0/Microsoft.Win32.Registry.dll
ProAgil.Repository/out/runtimes/unix/lib/netstandard2.0/System.Data.SqlClient.dll
ProAgil.Repository/out/runtimes/win/lib/netstandard1.3/System.Security.AccessControl.dll
ProAgil.Repository/out/runtimes/win/lib/netstandard1.3/System.Security.Principal.Windows.dll
ProAgil.Repository/out/runtimes/win/lib/netstandard1.6/System.Security.Cryptography.Cng.dll
ProAgil.Repository/out/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
ProAgil.Repository/out/runtimes/win/lib/netstandard2.0/System.Data.SqlClient.dll
ProAgil.Repository/out/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.Pkcs.dll
ProAgil.Repository/out/runtimes/win/lib/netstandard2.0/System.Text.Encoding.CodePages.dll
ProAgil.Repository/out/runtimes/win-arm64/native/sni.dll
ProAgil.Repository/out/runtimes/win-x64/native/sni.dll
ProAgil.Repository/out/runtimes/win-x86/native/sni.dll
