#.NET Core Project
bin
obj

#compiled output
/dist
/tmp
/out-tsc
/prod

#dependencies
node_modules

#profiling profiles
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vs
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.vscode
ProAgil-App/dist/ProAgil-App/fa-brands-400.eot
ProAgil-App/dist/ProAgil-App/fa-brands-400.svg
ProAgil-App/dist/ProAgil-App/fa-brands-400.ttf
ProAgil-App/dist/ProAgil-App/fa-brands-400.woff
ProAgil-App/dist/ProAgil-App/fa-brands-400.woff2
ProAgil-App/dist/ProAgil-App/fa-regular-400.eot
ProAgil-App/dist/ProAgil-App/fa-regular-400.svg
ProAgil-App/dist/ProAgil-App/fa-regular-400.ttf
ProAgil-App/dist/ProAgil-App/fa-regular-400.woff
ProAgil-App/dist/ProAgil-App/fa-regular-400.woff2
ProAgil-App/dist/ProAgil-App/fa-solid-900.eot
ProAgil-App/dist/ProAgil-App/fa-solid-900.svg
ProAgil-App/dist/ProAgil-App/fa-solid-900.ttf
ProAgil-App/dist/ProAgil-App/fa-solid-900.woff
ProAgil-App/dist/ProAgil-App/fa-solid-900.woff2
ProAgil-App/dist/ProAgil-App/main-es5.js
ProAgil-App/dist/ProAgil-App/main-es5.js.map
ProAgil-App/dist/ProAgil-App/main-es2015.js
ProAgil-App/dist/ProAgil-App/main-es2015.js.map
ProAgil-App/dist/ProAgil-App/polyfills-es5.js
ProAgil-App/dist/ProAgil-App/polyfills-es5.js.map
ProAgil-App/dist/ProAgil-App/polyfills-es2015.js
ProAgil-App/dist/ProAgil-App/polyfills-es2015.js.map
ProAgil-App/dist/ProAgil-App/runtime-es5.js
ProAgil-App/dist/ProAgil-App/runtime-es5.js.map
ProAgil-App/dist/ProAgil-App/runtime-es2015.js
ProAgil-App/dist/ProAgil-App/runtime-es2015.js.map
ProAgil-App/dist/ProAgil-App/styles-es5.js
ProAgil-App/dist/ProAgil-App/styles-es5.js.map
ProAgil-App/dist/ProAgil-App/styles-es2015.js
ProAgil-App/dist/ProAgil-App/styles-es2015.js.map
ProAgil-App/dist/ProAgil-App/vendor-es5.js
ProAgil-App/dist/ProAgil-App/vendor-es5.js.map
ProAgil-App/dist/ProAgil-App/vendor-es2015.js
ProAgil-App/dist/ProAgil-App/vendor-es2015.js.map
ProAgil-App/package-lock.json